# Default ignored files
/shelf/
/workspace.xml
/artifacts/Lambda_Minigames_Plugin_jar.xml
/libraries/spigot_api_1_8_8_R0_1_20160221_082514_43.xml
/discord.xml
/misc.xml
/modules.xml
/uiDesigner.xml
/vcs.xml
